.NavBrand{
    position: sticky;
    top: 0;
    background-color: blueviolet;
    display: flex;
    justify-content:space-between;
    padding-bottom: 0px
    
};

a{
    text-decoration: none; 
}
.NavBrand .follow{
    text-decoration: none;
};

.Navbrand h1{
    color :white;
    margin: 2px 10px;
}


.home{
    text-decoration: none;
    color:white;
    margin: 16px 10px;
    display: flex;
    font-size:20px;
    justify-content: center;
}
.home:hover{
    color:black;
}